body {
	margin: 0;
	background-color: rgb(39, 39, 39);
	display: flex;
	justify-content: center;
	font-family: 'Courier New', Courier, monospace;
}

canvas {
	margin-top: 12px;
	z-index: 10;
}

.game-over-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 700px;
	background-color: rgb(56, 56, 56);
	z-index: 11;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
}

button {
	cursor: pointer;
	color: rgb(0, 0, 0);
	background-color: rgb(195, 195, 195);
	border: none;
	height: 50px;
	width: 200px;
	border-radius: 5px;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

button:hover {
	filter: brightness(80%);
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
	canvas {
		margin-top: 100px;
	}

	.game-over-container {
		margin-top: -19px;
	}
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
	canvas {
		width: 95%;
		height: 700px;
	}

	.game-over-container {
		width: 95%;
		height: 700px;
	}
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 400px) {
	canvas {
		height: 600px;
	}

	.game-over-container {
		height: 600px;
	}
}
